.h-50 {
    height: 50px;
}

.f-13 {
    font-size: 13px;
}

.checkbox {
    margin-right: 5px !IMPORTANT;
    position: relative;
    top: 1px;
}

.radio {
    margin-right: 1px !IMPORTANT;
    position: relative;
    top: 1px;
}