.MuiPaper-root h6 {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
    font-family: 'Satoshi' !important;
    font-weight: 600 !important;
}

.MuiPaper-root {
    box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, .07) !IMPORTANT;
}

.MuiToolbar-root {
    padding: 1.5rem 1.875rem;
}

thead.MuiTableHead-root {
    border: solid rgb(226 232 240);
    border-width: 1px 0 1px 0 !important;

}

.MuiTableCell-root {
    padding: 0.80rem !important;
}

.MuiPaper-root .MuiButtonBase-root {
    font-family: Satoshi, sans-serif !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    font-weight: 500 !important;
    color: rgb(100 116 139);
    text-transform: capitalize;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root {
    padding: 0 !important;
}

.MuiTableCell-root {
    font-size: .875rem !important;
    line-height: 1.25rem !important;
    font-family: Satoshi, sans-serif !important;
}

.MuiButtonBase-root:hover {
    background-color: unset !important;
}

.MuiTableRow-root:hover {
    background-color: unset !important;
}



.dark .quill-dark .ql-container.ql-snow {

    color: #ffffff;
    border-color: #4b5563; 
  }
  
  .dark .quill-dark .ql-editor {
    color: #ffffff;
  }
  

.dark .quill-dark .ql-toolbar.ql-snow {
    border-color: #4b5563; 
    color: #ffffff; 
  }
  
  .dark .quill-dark .ql-toolbar .ql-picker-label,
  .dark .quill-dark .ql-toolbar .ql-picker-item,
  .dark .quill-dark .ql-toolbar button {
    color: #ffffff; 
  }
  
.dark .quill-dark .ql-toolbar .ql-stroke {
    stroke: #ffffff; 
  }
  

  /* Add to your global CSS file */

  .nb .custom-checkbox {
    appearance: none;
    height: 16px;
    width: 16px;
    border: 1px solid #4b5563;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    outline: none;
}
  .nb .dark .custom-checkbox {
    border-color: #ffffff; /* Border color for dark mode */
  }
  
  .nb .custom-checkbox:checked {
    border-color: #1976D2; /* Border color when checked */
  }
  
  .nb .custom-checkbox:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #1976D2; /* Custom check color */
    border-radius: 2px;
    transform: translate(-50%, -50%);
  }
  