.MuiPaper-root h6 {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
  font-family: "Satoshi" !important;
  font-weight: 600 !important;
}

.MuiPaper-root {
  box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07) !important;
}

.MuiToolbar-root {
  padding: 1.5rem 1.875rem;
}

thead.MuiTableHead-root {
  border: solid rgb(226 232 240);
  border-width: 1px 0 1px 0 !important;
}

.MuiTableCell-root {
  padding: 0.8rem !important;
}

.MuiPaper-root .MuiButtonBase-root {
  font-family: Satoshi, sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-weight: 500 !important;
  color: rgb(100 116 139);
  text-transform: capitalize;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root {
  padding: 0 !important;
}

.MuiTableCell-root {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-family: Satoshi, sans-serif !important;
}

.MuiButtonBase-root:hover {
  background-color: unset !important;
}

.MuiTableRow-root:hover {
  background-color: unset !important;
}

.dark .quill-dark .ql-container.ql-snow {
  color: #ffffff;
  border-color: #4b5563;
}

.dark .quill-dark .ql-editor {
  color: #ffffff;
}

.dark .quill-dark .ql-toolbar.ql-snow {
  border-color: #4b5563;
  color: #ffffff;
}

.dark .quill-dark .ql-toolbar .ql-picker-label,
.dark .quill-dark .ql-toolbar .ql-picker-item,
.dark .quill-dark .ql-toolbar button {
  color: #ffffff;
}

.dark .quill-dark .ql-toolbar .ql-stroke {
  stroke: #ffffff;
}

.css-1d6zwhm-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #8db0dd !important;
}

/* 
.header-center {
  text-align: center !important;
  white-space: nowrap;
}

.header-center span {
  display: contents !important;
}
.cell-center {
  text-align: center !important;
  white-space: nowrap;
} */

@media (min-width: 1024px) {
  .lg\:ml-72\.5 {
    margin-left: 0px;
  }

  .sidebarOpen {
    width: 290px !important;
  }

  .relative.flex.flex-1.flex-col.lg\:ml-72\.5 {
    width: calc(100% - 290px);
  }
}

@media (max-width: 320px) {
  .tss-hj53wm-MUIDataTableToolbar-titleText {
    text-align: left !important;
  }

  .tss-qbo1l6-MUIDataTableToolbar-actions {
    text-align: right !important;
  }
}

span.required {
  color: red;
}

/* .MuiTableCell-root {
  text-align: center !important;
}
 */
/* Pranay Custom css start  */

.tss-1fbujeu-MUIDataTableHeadCell-toolButton {
  text-transform: none !important;
  margin-left: -8px !important;
  min-width: 0 !important;
  margin-right: 8px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.tss-1h9t3sl-MUIDataTableHeadCell-sortAction {
  white-space: nowrap !important;
}

.tss-1qtl85h-MUIDataTableBodyCell-root {
  text-transform: capitalize;
}

.MuiPaper-root button.rounded,
.MuiPaper-elevation button.rounded,
button[type="submit"],
button.bg-primary,
.MuiDialogContent-root .rounded {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  font-size: 16px;
  min-height: 42px;
}

.MuiPaper-root button.rounded:hover,
.MuiPaper-elevation button.rounded:hover,
button[type="submit"]:hover,
button.bg-primary:hover,
.MuiDialogContent-root .rounded:hover {
  background-color: #005bb5;
}

button {
  transition: all 0.3s ease;
}

.MuiTableRow-root th:first-child,
.MuiTableRow-root td:first-child {
  padding-left: 24px !important;
}

.MuiTableRow-root th:last-child,
.MuiTableRow-root td:last-child {
  padding-right: 24px !important;
}

.MuiTableCell-root span.MuiButtonBase-root {
  padding-left: 0px;
}

.MuiTableRow-root th > span {
  padding: 3px 0px;
}

.MuiTableRow-root th > div {
  padding: 9px 0px;
  font-family: Satoshi, sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-weight: 500 !important;
  color: #64748b;
}
.MuiTableRow-root td > div {
  /* padding: 11px 0px; */
  min-height: 42px;
  display: flex;
  align-items: center;
}

td.MuiTableCell-root p,
td.MuiTableCell-root > div > div {
  padding-right: 10px;
}
.dark .dark\:bg-boxdark-2.dark\:text-bodydark {
  min-height: 100vh;
  background: #24303f;
}
.checkbox-inline input,
.radio-inline input {
  margin-right: 7px;
}

.login-box {
  min-height: 100vh;
  padding: 30px 20px;
}
.MuiDialog-paper {
  min-width: 600px;
}
@media (max-width: 767px) {
  .MuiDialog-paper {
    min-width: 90%;
  }
  .MuiPaper-root h6 {
    text-align: left;
  }

  .tss-qbo1l6-MUIDataTableToolbar-actions {
    text-align: right !important;
  }

  .StudentDetails_filterGroup__cwcGe {
    flex-wrap: wrap;
  }

  .tss-tlx3x1-MUIDataTableToolbar-root {
    display: flex;
  }
}

/* Pranay Custom css End  */
